header {
  grid-row: 2;
  @extend %fluid;
  
  h1 {
    position: relative;
    bottom: 175px;
    left: 25px;
    z-index: 2;
    @extend %light;
    font-size: $font-large;
    color: $theme-white;
    font-size: $font-large;
  }

  .jumbo-img {
    img {
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
}
@media screen and (max-width: 750px) {
header {
  h1 {
    font-size: 4.0em;
    bottom: 140px
  }
}
}
@media screen and (max-width: 520px) {
header {
  h1 {
    font-size: 3.0em;
    bottom: 100px;
  }
}
}
