section {
  padding: 2%;
  margin-bottom: 20px;

  .section-title {
    @extend %title;
    background-color: $theme-one;
  }

  .section-aux {
    font-size: $font-small;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: start;
  }
}
