$font-sans: "Helvetica Neue", Helvetica, sans-serif;
$font-serif: "Garamond", "Georgia", serif;
$font-standard: 16px;
$weight-std: 400;
$weight-lt: 300;
$weight-bd: 600;
$font-large: 6.0em;
$font-medium: 1.5em;
$font-small: 0.75em;
$theme-light: #fff4f0;
$theme-dark: #2a3133;
$theme-one: #f0fff4;
$theme-two: #30474d;
$theme-three: #383838;
$theme-white: #ffffff;

