@import 'themes';
@import 'section';
$start: 2;
$end: 12;

%fluid {
  grid-column-start: $start;
  grid-column-end: $end;
}

%title {
  font-size: $font-medium;
  font-family: $font-serif;
  color: $theme-dark;
}

%center {
  justify-self: center;
  align-self: center;
}

%light {
  font-weight: $weight-lt;
  font-family: $font-sans;
  text-transform: uppercase;
}

body {
  font-family: $font-serif;
  font-size: $font-standard;
  font-weight: $weight-std;
  background-color: $theme-white;
  color: $theme-dark;
  display: grid;
  grid-template-rows: 316px 6vw auto 10vw;
  grid-template-columns: repeat(12, 8.3%);
  grid-row-gap: 5px;
  grid-column-gap: 2px;
}

@import 'header';
@import 'nav';

img {
  width: 100%;
  height: 100%;
}

article {
  grid-row: 3;
  grid-column-start: $start;
  grid-column-end: $end - 4;
  h1 {
    @extend %light;
    background-color: $theme-light;
  }
}

aside {
  grid-row: 3;
  grid-column-start: $end - 4;
  grid-column-end: $end;
  h1 {
    @extend %light;
    background-color: $theme-light;
  }
}

footer {
  grid-row: auto;
  @extend %fluid;
  @extend %center;
}

